:root {
    --main-color: linear-gradient(#213a8ebe, #A6CDEE);
    /* var(--main-color) */
    --second-color: linear-gradient(#A6CDEE, #213a8ebe);
    /* var(--second-color)*/
    --third-color: #A6CDEE;
    /* var(--third-color)*/
    --fourth-color: #213A8E;
    /*var(--fourth-color)*/
}

* {
    font-family: Merriweather;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    max-width: 100%;
}

header {
    background: white;
    height: 8.75rem;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.img-bg {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

footer {
    background: white;
}

.wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.logo-div {
    float: left;
    height: 7rem;
    width: 15%;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

.logo-div img {
    object-fit: cover;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0px;
    height: 100%;
    width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

ul li {
    list-style: none;
    padding: 1.25rem 2.55rem;
    font-size: 1.15rem;
    text-align: center;
}

ul li a {
    padding-bottom: 2.5%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    transition: all 0.1s;
}

ul li a:hover {
    border-bottom-width: 3px;
    border-color: var(--fourth-color);
    color: var(--fourth-color);
}
ul li span {
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.title-div,
.main-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-div {
    margin-top: 3%;
    margin-bottom: 7%;
}

.title-div h1 {
    font-size: 50px;
    color: #132253;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.main-content-div {
    padding-left: 25%;
}

.main-content-div div {
    padding-bottom: 1%;
    margin-bottom: 8.5rem;
}

.main-content-border {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main-content-border:before {
    content: '';
    width: 50px;
    height: 150px;
    position: absolute;
    transform: translateY(-10px);
    border-top: 1px solid #213A8E;
    border-left: 1px solid #213A8E;
}

.main-content-border img {
    width: 600px;
    height: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.img-div {
    position: absolute;
    z-index: -2;
    margin-top: 1rem;
    margin-left: 40rem;
}

.service-div {
    padding-left: 2%;
    width: 50%;
}

.service-div h2 {
    font-size: 35px;
}

.service-div p {
    padding-right: 15%;
}

.service-bg {
    position: absolute;
    z-index: -1;
    width: 40rem;
    height: 17rem;
    margin-top: 0.2rem;
    margin-left: 0.75rem;
    background-color: white;
    opacity: 90%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-links {
    margin-right: 10%;
    margin-left: 10%;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0rem;
}

.footer-links h3 {
    font-size: 22px;
}

.footer-links p {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.footer-map {
    margin: 2.5% 10% 2.5% 25%;
}

.footer-map iframe {
    width: 550px;
    height: 300px;
}
/*Gallery img*/

.gallery-container-clim img {
    width: 500px;
    height: 350px;
    margin: 10px;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1s;
}
.gallery-container,
.gallery-container-clim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0% 10% 5% 10%;
}

.gallery-container img {
    width: 350px;
    height: 500px;
    margin: 10px;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1s;
}

.gallery-container img:hover,
.gallery-container-clim img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}

/**/
/*Page À Propos et Mentions Légales*/
.main-content-div-apropos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.apropos-div {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    opacity: 95%;
    width: 50%;
    height: 75rem;
}

.apropos-div h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.apropos-div p {
    font-size: 1rem;
    padding: 2.5rem;
}

/**/
.service-div h2, .service-div p, .img-div {
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*****************/
@media (max-width: 1490px) {}

@media (max-width: 1024px) {}

@media (max-width: 425px) {}