:root {
    --main-color: linear-gradient(#213A8E, #A6CDEE);
    /* var(--main-color) */
    --second-color: linear-gradient(#A6CDEE, #213A8E);
    /* var(--second-color)*/
    --third-color: #A6CDEE;
    /* var(--third-color)*/
    --fourth-color: #213A8E;
    /*var(--fourth-color)*/
}

* {
    font-family: Merriweather;
}

body {
    margin: 0;
    max-width: 100%;
}

header {
    background: var(--main-color);
    height: 8rem;
}

footer {
    background: var(--second-color);
}

.wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.logo-div {
    float: left;
    height: 7rem;
    width: 15%;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

.logo-div img {
    object-fit: cover;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0px;
    height: 100%;
    width: 100%;
}

ul {
    float: right;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 80%;
}

ul li {
    list-style: none;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    padding: 2.55rem;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    transition: all 0.2s;
}

ul li:hover {
    border-bottom-width: 6px;
    border-color: var(--fourth-color);
    color: var(--fourth-color);
    background: var(--third-color);
}


@media (max-width: 1490px) {}

@media (max-width: 1024px) {}

@media (max-width: 425px) {}